body,
html,
:root {
	background-color: rgba(0, 0, 0, 0);
	margin: 0px auto;
	overflow: hidden !important;
}
.NS_layouts__notifications,
.NS_projects__content,
.relative,
.do-not-visually-track,
iframe #transcend-consent-manager {
	display: none !important;
}
*::after {
	content: none !important;
}
*::before {
	content: none !important;
}
body > div {
	display: none !important;
}
#content-wrap > div:not(:first-child) {
	display: none !important;
}
#content-wrap > div > div > div:not(:first-child) {
	display: none !important;
}
#content-wrap > div > div > div > div:not(:nth-child(3)) {
	display: none !important;
}
#content-wrap > div > div > div > div > div > div:not(:nth-child(2)) {
	display: none !important;
}
#content-wrap > div > div > div > div > div > div > div:not(:first-child) {
	display: none !important;
}
#content-wrap > div > div > div > div > div > div > div > *:not(:nth-child(2)) {
	display: none !important;
}
.grid-container,
.grid-row,
.grid-row > * {
	padding: 0 !important;
	margin: 0 !important;
}
main,
main > div,
#content-wrap,
#content-wrap > div,
#content-wrap > div > div,
#content-wrap > div > div > div,
#content-wrap > div > div > div > div,
#content-wrap > div > div > div > div > div,
#content-wrap > div > div > div > div > div > div,
#content-wrap > div > div > div > div > div > div > div,
#content-wrap > div > div > div > div > div > div > div > div {
	position: absolute !important;
	width: 100% !important;
	max-width: 100% !important;
	height: 100% !important;
	max-height: 100% !important;
	background-color: rgba(0, 0, 0, 0) !important;
	padding: 0 !important;
	margin: 0 !important;
}
.items-center {
	justify-content: center !important;
	align-items: center !important;
}
.hide-lg {
	display: unset !important;
}
.ksr-green-700,
.ksr-green-500 {
	font-size: 90vh !important;
	color: #e7dfd1 !important;
}
